{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-extra-semicolons": false,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global", "local"
        ]
      }
    ]
  }
}